black==21.9b0
    # via -r dev-requirements.in
certifi==2021.5.30
    # via requests
charset-normalizer==2.0.6
    # via requests
click==8.0.1
    # via black
docutils==0.17.1
    # via flit
flit==3.3.0
    # via -r dev-requirements.in
flit-core==3.3.0
    # via flit
idna==3.2
    # via requests
isort==5.9.3
    # via -r dev-requirements.in
mypy-extensions==0.4.3
    # via black
pathspec==0.9.0
    # via black
platformdirs==2.4.0
    # via black
regex==2021.9.30
    # via black
requests==2.26.0
    # via flit
toml==0.10.2
    # via
    #   flit
    #   flit-core
tomli==1.2.1
    # via black
typing-extensions==3.10.0.2
    # via black
urllib3==1.26.7
    # via requests
