black==24.10.0
    # via -r dev-requirements.in
certifi==2024.8.30
    # via requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via black
docutils==0.21.2
    # via flit
flit==3.9.0
    # via -r dev-requirements.in
flit-core==3.9.0
    # via flit
idna==3.10
    # via requests
isort==5.13.2
    # via -r dev-requirements.in
mypy-extensions==1.0.0
    # via black
packaging==24.1
    # via black
pathspec==0.12.1
    # via black
platformdirs==4.3.6
    # via black
requests==2.32.3
    # via flit
tomli==2.0.2
    # via black
tomli-w==1.0.0
    # via flit
typing-extensions==4.12.2
    # via black
urllib3==2.2.3
    # via requests
