black==22.1.0
    # via -r dev-requirements.in
certifi==2021.10.8
    # via requests
charset-normalizer==2.0.12
    # via requests
click==8.0.3
    # via black
docutils==0.18.1
    # via flit
flit==3.6.0
    # via -r dev-requirements.in
flit-core==3.6.0
    # via flit
idna==3.3
    # via requests
isort==5.10.1
    # via -r dev-requirements.in
mypy-extensions==0.4.3
    # via black
pathspec==0.9.0
    # via black
platformdirs==2.5.0
    # via black
requests==2.27.1
    # via flit
tomli==2.0.1
    # via
    #   black
    #   flit
tomli-w==1.0.0
    # via flit
typing-extensions==4.1.0
    # via black
urllib3==1.26.8
    # via requests
