ansible-container==0.3.0
backports.ssl-match-hostname==3.5.0.1  # via docker-py, websocket-client
cached-property==1.3.0    # via docker-compose
docker-compose==1.9.0     # via ansible-container
docker-py==1.10.6         # via ansible-container, docker-compose
docker-pycreds==0.2.1     # via docker-py
dockerpty==0.4.1          # via docker-compose
docopt==0.6.2             # via docker-compose
enum34==1.1.6             # via docker-compose
functools32==3.2.3.post2  # via jsonschema
ipaddress==1.0.18         # via docker-py
jinja2==2.9.6             # via ansible-container
jsonschema==2.6.0         # via docker-compose
markupsafe==1.0           # via jinja2
pyyaml==3.12              # via ansible-container, docker-compose
requests==2.11.1          # via ansible-container, docker-compose, docker-py
six==1.10.0               # via ansible-container, docker-compose, docker-py, docker-pycreds, dockerpty, websocket-client
texttable==0.8.8          # via docker-compose
websocket-client==0.40.0  # via docker-compose, docker-py
