anyio==4.12.0
    # via httpx
babel==2.17.0
    # via delorean
certifi==2026.1.4
    # via
    #   httpcore
    #   httpx
delorean==1.0.0
    # via -r requirements.in
feedgen==1.0.0
    # via -r requirements.in
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via httpx
httpx==0.28.1
    # via -r requirements.in
humanize==4.15.0
    # via delorean
idna==3.11
    # via
    #   anyio
    #   httpx
lxml==6.0.2
    # via feedgen
plumbum==1.10.0
    # via -r requirements.in
python-dateutil==2.9.0.post0
    # via
    #   delorean
    #   feedgen
pytz==2025.2
    # via delorean
six==1.17.0
    # via python-dateutil
structlog==25.5.0
    # via -r requirements.in
typing-extensions==4.15.0
    # via anyio
tzlocal==5.3.1
    # via delorean
wrapt==2.0.1
    # via -r requirements.in
